@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@layer components {

.bg-light {
    background-image: repeating-linear-gradient(45deg, rgb(254,252,246) 0px, rgb(254,252,246) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(135deg, rgb(254,252,246) 0px, rgb(254,252,246) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, rgb(249,180,255),rgb(249,180,255));
}

.login {
    @apply text-white bg-gradient-to-r from-blue-400 to-emerald-400 hover:bg-gradient-to-l hover:from-blue-400 hover:to-emerald-400;
}

.forgot {
    @apply text-white bg-gradient-to-r from-blue-600 to-emerald-600 hover:bg-gradient-to-l hover:from-blue-600 hover:to-emerald-600;
}

.logout {
    @apply text-white bg-gradient-to-r from-blue-500 to-emerald-500 hover:bg-gradient-to-l hover:from-blue-500 hover:to-emerald-500;
}

.register {
    @apply text-white bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 hover:bg-gradient-to-l hover:from-rose-400 hover:via-fuchsia-500 hover:to-indigo-500;
}

.settings {
    @apply text-white bg-gradient-to-r from-rose-600 via-fuchsia-600 to-indigo-600 hover:bg-gradient-to-l hover:from-rose-600 hover:via-fuchsia-600 hover:to-indigo-600;
}

  /* Tips */

  .tips h1 {
    @apply text-xl font-extrabold;
  }

  .tips p {
    @apply mt-4;
  }

  .tips ol {
    @apply mt-4 space-y-2 list-decimal list-inside;
  }

  .tips ol li a {
    @apply transition duration-150 ease-in-out hover:text-sky-600;
  }

  /* EffortLive */

  .effort h1 {
    @apply mb-8 text-4xl font-extrabold text-center;
  }

  .effort button {
    @apply px-4 py-2 text-2xl text-white bg-sky-500 rounded-xl hover:bg-sky-700 active:bg-sky-900;
  }

  .effort section {
    @apply flex items-center justify-center text-3xl gap-x-10 tabular-nums;
  }

  .effort form {
    @apply mt-8 text-2xl text-center;
  }

  .effort form label {
    @apply text-xl text-gray-600;
  }

  .effort form input {
    @apply w-20 text-xl text-gray-900 rounded-lg focus:ring-1 focus:border-sky-600;
  }

  /* IncidentLive.Index */

  .incident-index .incidents {
    @apply grid grid-cols-2 gap-6 mt-6 md:grid-cols-3;
  }

  .incident-index .incidents .card {
    @apply pb-4 overflow-hidden bg-white border border-gray-200 shadow-md rounded-2xl;
  }

  .incident-index .incidents .card .category {
    @apply py-3 text-sm font-bold text-center text-gray-600 bg-gray-200;
  }

  .incident-index .incidents .card img {
    @apply object-cover w-4/6 p-4 pb-0 mx-auto transition duration-300 hover:scale-105;
  }

  .incident-index .incidents .card h2 {
    @apply px-4 mt-2 font-semibold text-center truncate text-sky-600;
  }

  .incident-index .incidents .card .details {
    @apply flex items-center justify-between px-6 mt-4;
  }

  .incident-index .incidents .card .details .priority {
    @apply text-xs text-white font-medium bg-gray-500 rounded-full px-3 py-1.5;
  }

  .incident-index form {
    @apply items-center justify-center gap-4 sm:flex;
  }

  .incident-index form a {
    @apply text-sm underline;
  }

  .incident-index .no-results {
    @apply col-span-2 p-8 text-lg font-semibold text-center text-gray-600 border-2 border-gray-400 border-dashed rounded-lg md:col-span-3;
  }

  .incident-index .failed {
    @apply max-w-2xl px-4 py-3 mx-auto mt-6 text-center text-red-700 border border-red-400 rounded-lg bg-red-50;
  }

  /* IncidentLive.Show */

  .incident-show .winner {
    @apply p-6 mx-auto mb-8 text-2xl font-extrabold text-center text-white bg-gradient-to-r from-cyan-500 to-blue-500;
  }

  .incident-show .incident {
    @apply grid mb-10 md:grid-cols-3 gap-x-4;
  }

  .incident-show .incident img {
    @apply w-1/2 px-8 mx-auto md:w-full;
  }

  .incident-show .incident section {
    @apply space-y-5 md:col-span-2;
  }

  .incident-show .incident section header {
    @apply flex items-start justify-between;
  }

  .incident-show .incident section header h2 {
    @apply flex items-center gap-2 text-2xl font-semibold text-gray-900;
  }

  .incident-show .incident section header h3 {
    @apply text-xl text-gray-500;
  }

  .incident-show .incident section header .priority {
    @apply px-4 py-2 text-lg font-medium text-white bg-gray-500 rounded-full;
  }

  .incident-show .incident section .totals {
    @apply flex items-center font-medium text-gray-600;
  }

  .incident-show .incident section .description {
    @apply text-lg font-light text-gray-500;
  }

  .incident-show .activity {
    @apply grid grid-cols-2 mx-auto md:ml-24 gap-x-10;
  }

  .incident-show .activity .left {
    @apply w-3/4 justify-self-start;
  }

  .incident-show .activity .right {
    @apply w-64 space-y-8 text-center justify-self-end;
  }

  .incident-show .activity .right h4 {
    @apply text-lg text-gray-600 font-medium text-left pb-1.5 border-b-2 border-gray-200;
  }

  .incident-show .activity .change-status {
    @apply mt-2;
  }

  .incident-show .activity .change-status a {
    @apply text-xs transition duration-150 ease-in-out text-sky-600 hover:text-sky-800;
  }

  .incident-show .activity .change-status #emojis {
    @apply flex items-center justify-center hidden mt-2 space-x-3 text-xl;
  }

  .incident-show .activity .change-status #emojis span {
    @apply inline-block transition duration-300 cursor-pointer hover:scale-125;
  }

  .incident-show #response-form {
    @apply space-y-3;
  }

  .incident-show #responses {
    @apply mt-10;
  }

  .incident-show .response {
    @apply relative pb-8;
  }

  .incident-show .response:not(:last-child) .timeline {
    @apply absolute left-5 top-4 -ml-px h-full w-0.5 bg-gray-200;
  }

  .incident-show .response section {
    @apply relative flex items-center space-x-3 text-base text-gray-500;
  }

  .incident-show .response section .avatar {
    @apply flex items-center justify-center w-10 h-10 text-white rounded-full bg-sky-600;
  }

  .incident-show .response section .username {
    @apply font-medium text-gray-900;
  }

  .incident-show .response section blockquote {
    @apply mt-1 text-base italic text-gray-600;
  }

  /* AdminIncidentLive.Index */

  .admin-index table a {
    @apply transition duration-150 ease-in-out text-neutral-700 hover:text-blue-600 focus:outline-none focus:underline;
  }

  .admin-index .joke {
    @apply p-4 my-4 text-orange-600 bg-orange-100 rounded-xl;
  }

  /* AdminIncidentLive.Form */

  #incident-form .entry {
    @apply flex items-center justify-start my-6 space-x-6;
  }

  #incident-form .entry img {
    @apply w-32;
  }

  #incident-form .entry .progress {
    @apply w-full;
  }

  #incident-form .entry .progress .value {
    @apply inline-block mb-2 text-xs font-semibold text-left text-sky-600;
  }

  #incident-form .entry .progress .bar {
    @apply flex h-2 mb-4 overflow-hidden text-base rounded-lg bg-sky-200;
  }

  #incident-form .entry .progress .bar>span {
    @apply shadow-md bg-sky-500;
    transition: width 1s ease;
  }

  #incident-form .entry button {
    @apply text-3xl font-bold text-gray-700 cursor-pointer hover:text-red-700;
  }

  #incident-form .hint {
    @apply my-4 text-sm text-gray-600;
  }

  #incident-form .thumbnail {
    @apply flex flex-row justify-between gap-4;
  }

  #incident-form .thumbnail div:first-child {
    @apply w-full;
  }

  #incident-form .thumbnail img {
    @apply w-20 h-20;
  }

  #incident-form .drop {
    @apply flex items-baseline justify-between p-4 my-2 space-x-1 text-center text-gray-600 border-2 border-gray-300 border-dashed rounded-md;
  }

  #incident-form .drop label {
    @apply font-medium cursor-pointer text-sky-600 hover:text-sky-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-sky-500;
  }

  #incident-form .drop span {
    @apply text-sm text-gray-500;
  }

  #incident-form .drop img {
    @apply w-12 h-12 mx-auto;
  }

  #incident-form .drop-stylish {
    @apply p-4 mt-4 text-sm text-center text-gray-500 border-2 border-gray-300 border-dashed rounded-md;
  }

  #incident-form .drop-stylish label span {
    @apply font-medium cursor-pointer text-sky-600 hover:text-sky-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-sky-500;
  }

  #incident-form .drop-stylish p {
    @apply text-xs text-gray-400;
  }

  /* Components and Utilities */

  .badge {
    @apply inline-block px-2 py-1 text-xs font-medium uppercase border rounded-md text-lime-600 border-lime-600;
  }

  .button {
    @apply inline-block px-3 py-2 text-sm font-semibold leading-6 text-white rounded-lg bg-zinc-900 hover:bg-zinc-700 hover:text-white active:text-white/80 focus:no-underline;
  }

  .spinner {
    @apply w-10 h-10 border-8 border-gray-300 rounded-full animate-spin border-t-sky-400;
  }

  .loading {
    @apply flex justify-center my-6;
  }

  .failed {
    @apply flex justify-center p-3 my-6 text-sm font-medium text-red-800 border-2 border-red-200 border-dashed rounded-md;
  }

  header a {
    @apply font-medium transition duration-150 ease-in-out text-neutral-700 hover:text-sky-600 focus:outline-none focus:underline;
  }

  /* Headline Component */

  .headline {
    @apply p-4 mx-auto mb-6 text-center bg-gradient-to-r from-cyan-500 to-sky-600;
  }

  .headline h1 {
    @apply flex items-center justify-center gap-2 text-xl font-extrabold text-gray-50;
  }

  .headline .tagline {
    @apply flex items-center justify-center gap-1 mt-1 text-sm font-medium text-gray-50;
  }

  .headline svg {
    @apply inline-flex w-6 h-6;
  }

  /* Incident List */

  ul.incidents {
    @apply mt-4 ml-2 space-y-3;
  }

  ul.incidents li {
    @apply flex items-center text-sm gap-x-2;
  }

  ul.incidents li img {
    @apply w-10;
  }

  ul.incidents li a {
    @apply flex items-center font-medium transition duration-150 ease-in-out gap-x-2 text-sky-600 hover:text-sky-800;
  }

  /* Presences List */

  ul.presences {
    @apply mt-4 space-y-2.5 ml-4;
  }

  ul.presences li {
    @apply flex items-center text-gray-600 gap-x-2;
  }

  ul.presences li .status {
    @apply text-xl;
  }
}

/* Animations */

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

.shake {
  animation: shake 0.25s ease-in-out infinite;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes shake {
  25% {
    transform: translateX(-6px);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(0);
  }
}
