<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Neighborly" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="min-h-screen bg-light">
    <div class="relative">
      <!-- User menu -->
      <div class="absolute top-0 right-0 z-10 w-full">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
          <div class="flex justify-end items-center h-16">
            <%= if @current_user do %>
              <div class="flex gap-4 items-center">
                <div class="sm:text-sm text-md text-zinc-600">
                  <span class="mr-16 font-medium sm:mr-5 text-zinc-900">
                    Hi {@current_user.username}
                  </span>
                  <span class="hidden sm:inline text-zinc-500">{@current_user.email}</span>
                </div>
                <div class="flex gap-3 items-center">
                  <.link
                    href={~p"/users/settings"}
                    class="inline-flex justify-center items-center px-4 py-2 text-sm font-semibold rounded-lg shadow-sm transition-colors duration-200 settings"
                  >
                    Settings
                  </.link>
                  <.link
                    href={~p"/users/log-out"}
                    method="delete"
                    class="inline-flex justify-center items-center px-4 py-2 text-sm font-semibold rounded-lg shadow-sm transition-colors duration-200 logout"
                  >
                    Log out
                  </.link>
                </div>
              </div>
            <% else %>
              <div class="flex gap-3 items-center">
                <.link
                  href={~p"/users/register"}
                  class="inline-flex justify-center items-center px-4 py-2 text-sm font-semibold rounded-lg shadow-sm transition-colors duration-200 register"
                >
                  Register
                </.link>
                <.link
                  href={~p"/users/log-in"}
                  class="inline-flex justify-center items-center px-4 py-2 text-sm font-semibold rounded-lg ring-1 ring-inset shadow-sm transition-colors duration-200 ring-zinc-300 login"
                >
                  Log in
                </.link>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      
<!-- Main content -->
      <div class="pt-16">
        {@inner_content}
      </div>
    </div>
  </body>
</html>
